* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 600px;
  border: 2px solid black;
  text-align: center;
}

.background {
  background-image: url("imgs/imgs2.jpg");
  height: 600px;
}