* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.linear {
  background-image: linear-gradient(to top right, rgb(16, 1, 97), rgb(223, 142, 142));
  height: 500px;
  width: 500px;
  color: white;
  text-align: center;
}

.radial {
  background-image: radial-gradient(rgb(20, 121, 33), rgb(21, 100, 114));
  height: 500px;
  width: 500px;
  color: white;
  text-align: center;
}

.conic {
  background-image: conic-gradient(rgb(216, 28, 175), rgb(131, 19, 236));
  height: 500px;
  width: 500px;
  color: white;
  text-align: center;
}

.rainbow {
  background-image: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  height: 100px;
  width: auto;
  margin: 200px;
  text-align: center;
  color: white;
}