.text {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: rgba(59, 4, 4, 0.456);
  font-style: italic;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  list-style: none;
}